<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246300931339-4j2basj8npltaa1gd70n5j84g61p79v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246300931339-4j2basj8npltaa1gd70n5j84g61p79v8</string>
	<key>API_KEY</key>
	<string>AIzaSyDVShAJDljDvXs9AWkAZzb-5ppeuIySokk</string>
	<key>GCM_SENDER_ID</key>
	<string>246300931339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamingreality.spvision.SPVision</string>
	<key>PROJECT_ID</key>
	<string>swellpro-2bf9a</string>
	<key>STORAGE_BUCKET</key>
	<string>swellpro-2bf9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:246300931339:ios:55afa662864ffc7c4a5e0e</string>
	<key>DATABASE_URL</key>
	<string>https://swellpro-2bf9a.firebaseio.com</string>
</dict>
</plist>
